# ==========================================
# PROJECT
# ==========================================
PROJECT_NAME="TTS Local CPU"
PROJECT_SLUG="tts_local_cpu"
VERSION="5.1.0"
ENVIRONMENT="development"
CORS_ORIGINS=["*"]

# Base pública única
BASE_PATH="/api/tts_local_cpu"


# ==========================================
# LOGGING
# ==========================================
LOG_LEVEL="DEBUG"
LOG_FORMAT="%(asctime)s - %(name)s - %(levelname)s - %(message)s"
LOG_DATETIME_FORMAT="%Y-%m-%d %H:%M:%S"
LOG_DIR="logs"
LOG_FILENAME="file.log"

# ==========================================
# PLUGIN META
# ==========================================
DISPLAY_NAME="TTS Local CPU"
DESCRIPTION="Módulo TTS oficial para QueAI. Texto a voz de alta fidelidad basado en Kokoro-82M. Ejecución local en CPU, soporte para Inglés/Español y múltiples voces."
AUTHOR="Alejandro Fonseca && Juana Iris"
LICENSE="MIT"
LOGO="stt_logo.png"